* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #242424;
}

p {
    font-size: 17px;
    line-height: 22px;
    text-align: justify;
}

header {
    background-color: #0a66c2;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 890px;
    margin: auto;
    padding: 20px;
}

.card {
    border: 2px solid #ececec;
    padding: 16px;
    border-radius: 6px;
}

.card .card-title {
    font-size: 1.15rem;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.card:hover {
    background-color: #ececec;
    box-shadow: 4px 4px 8px -4px #b1b1b1;
}

section {
    margin-bottom: 32px;
}

section .section-title {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #0a66c2;
    padding: 6px 0 12px 0;
    text-transform: capitalize;
    font-size: 1.25rem;
}

section .section-content {
    padding: 4px;
}

.app-overview-content {
    overflow-x: auto;
    display: flex;
    gap: 8px;
}

.implementation-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.implementation-content > div {
    width: calc(50% - 12px);
}

.member {
    display: flex;
    align-items: start;
    gap: 24px;
}

.member:not(:last-of-type) {
    margin-bottom: 24px;
}

.member .member-avatar {
    overflow: hidden;
    flex: 1 0 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 16px;
}

.member .member-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member .member-info .social-media {
    display: flex;
    gap: 8px;
    font-size: 1.6rem;
    margin: 8px 0;
}

.github {
    color: #6e5494;
}

.linkedin {
    color: #0a66c2;
}

@media only screen and (max-width: 768px) {
    .implementation-content > div {
        width: 100%;
    }
}

@media only screen and (max-width: 699px) {
    .member {
        flex-direction: column;
        align-items: center;
    }
}
